<div
  class="pub-list-item"
  style="margin-bottom: 1rem;"
  itemscope
  itemtype="http://schema.org/CreativeWork"
>
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
  <a href="{{ .RelPermalink }}" itemprop="name">{{ .Title }}</a>
  <div itemprop="author">
    {{ with .Params.authors }} {{- delimit . ", " | markdownify -}} {{- end -}}
  </div>
  <p>
    {{ partial "publication_links" (dict "content" . "is_list" 1) }}
    <span
      class="__dimensions_badge_embed__"
      data-doi="{{"
      .Params.DOI
      }}
      data-style="large_rectangle"
    ></span>
    <script
      async
      src="https://badge.dimensions.ai/badge.js"
      charset="utf-8"
    ></script>
  </p>
  <p>{{ partial "page_links" (dict "content" . "is_list" 1) }}</p>
</div>
